# Start by ignoring everything
*

# Include .git stuff
!README.md
!.gitignore

# Include pip dependencies
!requirements.txt

# Include MkDocs config
!mkdocs.yml

# Include documents
!docs
!docs/*.md
!docs/basics
!docs/basics/*.md
!docs/create_an_exercise
!docs/create_an_exercise/*.md
!docs/legacy
!docs/legacy/*.md

# Include images and gifs
!docs/assets
!docs/assets/*.png
!docs/assets/*.gif

# Include custom styling
!docs/stylesheets
!docs/stylesheets/*.css
